[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
django-enum-choices = "*"

[dev-packages]

[requires]
python_version = "3.11"
